@charset "UTF-8";

@import './normalize';

@import './helpers/helpers';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, 'Microsoft JhengHei', sans-serif;
  background-color: #eee;
}

h2,
figure {
  margin: 0;
}

.container {
  max-width: 800px;
}

.main {
  background-color: #fff;
  padding: 1rem;
}

.ad {
  display: flex;
  justify-content: space-between;
}

.ad__cntr {
  display: block;
  width: 25%;
  padding: 0.5rem;
}
