.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.img-resp {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.container {
  max-width: 1200px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}
